
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.3.2/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.BusinessReview_mobilecontainer {
	padding: 15px 15px 15px 15px;
	height: 100%;
}
/* mobilefooter */
.BusinessReview_mobilefooter {
	min-height:38px;
}