
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.3.2/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.BusinessReview_mobilecontainer {
	padding: 15px 15px 15px 15px;
	height: 100%;
}
/* mobilelabel_1 */
.BusinessReview_mobilelabel_1 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilesearchbar_products */
.BusinessReview_mobilesearchbar_products {
	margin: 4px 0px 4px 0px;
}
#BusinessReview_mobilesearchbar_products-cover-div {
	width: 16px;
	height: 16px;
	position: absolute;
	margin: 9px 7px 8px 7px;
	z-index: 9999;
}
/* spacer_34 */
.BusinessReview_spacer_34 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* mobilelist_35 */
.ui-content .BusinessReview_mobilelist_35 {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_36 */
/* mobilelistitembutton_37 */
.BusinessReview_mobilelistitembutton_37 {

}
/* mobilelist_42 */
.ui-content .BusinessReview_mobilelist_42 {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_43 */
.ui-mobile-viewport ul[data-role="listview"] li.BusinessReview_mobilelistitem_43 {
	padding: 0px 0px 4px 0px;
	padding-right: 30px; /* consider extra icon */
}
.ui-mobile-viewport ul[data-role="listview"] li.BusinessReview_mobilelistitem_43 span.ui-icon.extra {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -9px;
}
.ui-mobile-viewport ul[data-role="listview"] li.BusinessReview_mobilelistitem_43[data-icon="false"] span.ui-icon.extra {
	display: none;
}
.ui-mobile-viewport ul[data-role="listview"] li.BusinessReview_mobilelistitem_43[data-icon="false"] {
	padding-right: 0px; /* consider nothing */
}
/* mobilelistitembutton_44 */
.BusinessReview_mobilelistitembutton_44 {

}
/* mobilelabel_49_ProductCode */
.BusinessReview_mobilelabel_49_ProductCode {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilebutton_50 */
#BusinessReview_mobilebutton_50 {

}
.ui-btn.BusinessReview_mobilebutton_50 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.BusinessReview_mobilefooter {
	min-height:38px;
}