
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.3.2/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer1 */
.ui-content.startScreen_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
	height: 100%;
}
/* mobilesearchbar_74 */
.startScreen_mobilesearchbar_74 {
	margin: 4px 0px 4px 0px;
}
#startScreen_mobilesearchbar_74-cover-div {
	width: 16px;
	height: 16px;
	position: absolute;
	margin: 9px 7px 8px 7px;
	z-index: 9999;
}
/* mobilelist_85 */
.ui-content .startScreen_mobilelist_85 {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_86 */
/* mobilelistitembutton_87 */
.startScreen_mobilelistitembutton_87 {

}
/* mobilelistitem_88 */
/* mobilelistitembutton_89 */
.startScreen_mobilelistitembutton_89 {

}
/* mobilelistitem_90 */
/* mobilelistitembutton_91 */
.startScreen_mobilelistitembutton_91 {

}
/* mobilefooter1 */
.startScreen_mobilefooter1 {
	min-height:38px;
}